body{
    padding: 0;
    border-spacing: 0;
    margin: 0;

}

#header {
    overflow: hidden;
    background-color: #f5f2f2;
    display: flex;
    align-items: center;
    height: 50px;

}


#footer {
    overflow: hidden;
    background-color: #737a75;
    display: flex;
    align-items: center;
    height: 150px;

}


#header img {
    float: left;
    padding: 12px;
    width: 25px;
    height: 25px
}




#licon{
    transition: 1s;
}
#licon:hover{
    transform: rotate(720deg) scale(1.4,1.4);
}


#header a {
    float: left;
    padding: 12px;
    text-decoration: none;
    color: black;
}

#footer img {
    position: relative;
    left: 10%;
    float: right;
    padding: 12px;
    width: 100px;
    height: 100px
}

#header a img {
    float: left;
    padding: 12px;
    width: 25px;
    height: 25px
}

#footer a {
    float: left;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-size: 20px
}




#header input[type="search"] {

    height: 20px;
    width: 500px;
    padding: 12px
    float: left;

}

#loginarea{
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    float: right;
    width:auto;
    padding-left: 375px;
    height: 40px;
}

#loginarea a {
    float: left;
    padding: 6px;
    text-decoration: none;
    color: black;

}
#loginarea img{
    float: right;
    padding: 6px;
    width: 25px;
    height: 25px
}
h1{
    text-align: center;
}
#lightimg{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 12%;
    width: 250px;
    height: 400px;
    transition: 1s;
}
#lightimg:hover{
    transform: scale(1.25,1.25);
    cursor: zoom-in;
}
#ihshbutton{
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: 0.5s;

}
#ihshbutton:hover{
    transform: translate(0px,-10    px) scale(2,2);
}
#hfkdiv{
    background-color: #f5f2f2;
    width: 80%;
    height: 110%;
    position: relative;
    left: 9%;
    border-radius: 20px;
}
#kiradiv{
    border-radius: 20px;
    float: left;
    position:relative;
    left: 5%;
    width:250px;
    background-color: white;
}
#kiradiv p {
    margin:10px;
    cursor: help;
}


#whoami{
    background-color: #f5f2f2;
    width: 60%;
    height: 110%;
    position: relative;
    left: 18%;
    border-radius: 20px;

}
#limg{
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 250px;
    height: 250px;
}

#whoami p{
    text-align:center;
    margin: 25px;
    font-size: 10px;

}
#whoami h2{
    text-align:center;
}




#copyrighttext{
    position: relative;
    margin: 0;
    padding: 0;
    right: 41%;
    top:40%;
}

#shopContainer {
    display: flex;
    flex-wrap: wrap; /* Allow divs to wrap to the next line if they run out of space */
    gap: 20px; /* Space between each div */
    justify-content: flex-start; /* Ensure items are aligned from left */
}

#shopdiv1 {
    background-color: #f5f2f2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 600px;
    height: 500px;
    margin-left: 20px;
}

#shopdiv2{
    background-color: white;
    border-radius: 20px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 575px;
    height: 475px;
}

#shopdiv2 img{
    margin-left: 20px;
    width: 250px;
    height: 250px;
    float: left

}

#shopdiv2 p {
    font-size: 30px;
    margin-left: 50px;
    float: left;

}

#shopdiv2 h4{
    font-size: 13px;
    margin-top: 130px;
    margin-right: 30px;
    margin-left: 285px

}
#shopdiv2 input{
    margin-left:180px;
    width: 180px;
    height: 60px;
    font-size: 30px;
    border-color: white;
    background-color: black;
    color: white
}

#loginbutton{
    margin-bottom: 20px;
    margin-left:462px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-color: white;
    background-color: black;
    color: white

}

#UserInsert{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 362px;
    width: 300px;
    height: 25px;
    text-align:center;

}
